[submodule "BE"]
	path = BE
	url = https://github.com/jollidah/autcloud-backend
	branch = main
[submodule "FE"]
	path = FE
	url = https://github.com/jisuzzzz/autcloud_fe
[submodule "AI"]
	path = AI
	url = https://github.com/Hyobin01/autcloud_ai
